[submodule "Video-Translate"]
	path = Video-Translate
	url = https://github.com/midhunsomu/Video-Translate.git
[submodule "Wellness-ai"]
	path = Wellness-ai
	url = https://github.com/midhunsomu/Wellness-ai.git
[submodule "Data-Analystics"]
	path = Data-Analystics
	url = https://github.com/midhunsomu/IITKGP-Data-Analystics-Hackathon.git
[submodule "Ethereum-fraud-detection"]
	path = Ethereum-fraud-detection
	url = https://github.com/midhunsomu/ethereum-fraud-detection.git
